
/* main title */
h3 {
    color: black;
    font-size: 40px;
    margin-top: 4%;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}

h1 {
    font-weight: 500;
}

/* create border */
.background-block {
    border: lightblue solid 2px;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headshot img {
    height: auto;
    width: 100%;
}

.desc p {
    text-align: center;
    font-size: 16px;
    margin: 7%;
    line-height: 24px;
    color: black;
}

.desc p a:hover {
    color: lightblue;
}

.desc p a {
    color: black;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flowers {
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
}

.flowers img {
    height: auto;
    width: 100%;
}

.intro {
    margin-bottom: 10%;
    margin-top: 10%;
}

.text-overlay {
    /* Styles for the text overlay */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Text color */
    z-index: 2; /* Ensure the overlay is on top of the clouds */
}

.title {
    font-weight: 600;
}

.resume {
    margin: 10%;
}


/* responsive design */

/* tablet */

@media (min-width: 768px) {

    .flowers {
        display: none;
    }

    h3 {
        text-align: left;
    }

    .intro {
        display: flex;
        margin: 0 auto;
        gap: 5%;
    }

    .headshot img {
        width: 100%;
    }
    
    .headshot {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro {
        width: 70%;
        margin-bottom: 10%;
        margin-top: 10%;
    }
}

/* regular laptop */

@media (min-width: 992px) {
    
    .headshot img {
        width: 100%;
    }

    .intro {
        width: 60%;
    }
}

/* large laptop */

@media (min-width: 1200px) {
    .intro {
        width: 50%;
    }

}