
/* main title */
h3 {
    color: black;
    font-size: 40px;
    margin-top: 4%;
    border-bottom: 1px solid #A1A1C9;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}

/* create border */
.background-block {
    border: #A1A1C9 solid 1px;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headshot img {
    height: auto;
    width: 100%;
}

.desc p {
    text-align: center;
    font-size: 16px;
    margin: 7%;
    line-height: 24px;
    color: black;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flowers {
    display: flex;
    justify-content: center;
}

.flowers img {
    height: auto;
    width: 100%;
}

.intro {
    margin-bottom: 10%;
}

/* responsive design */

/* tablet */

@media (min-width: 768px) {

    .flowers {
        display: none;
    }

    h3 {
        text-align: left;
    }

    .intro {
        display: flex;
    }

    .headshot img {
        width: 70%;
    }
    
    .headshot {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* regular laptop */

@media (min-width: 992px) {
    
    .headshot img {
        width: 50%;
    }
}

/* large laptop */

@media (min-width: 1200px) {


}