

/* main title */
h3 {
    color: black;
    font-size: 40px;
    margin-top: 4%;
    border-bottom: 1px solid #A1A1C9;
    margin-left: 7%;
    margin-right: 7%;
}

/* create border */
.background-block {
    border: #A1A1C9 solid 1px;
    border-radius: 25px;
    margin: 5%;
}

.headshot img {
    height: auto;
    width: 100%;
}

.desc p {
    text-align: center;
    font-size: 16px;
    margin-left: 1%;
    margin-right: 1%;
    line-height: 24px;
    color: black;
    padding-bottom: 10%;
}

/* set display to flex and justify-content to center to center an image */

.flowers {
    display: flex;
    justify-content: center;
}

.flowers img {
    height: auto;
    width: 100%;
}

/* responsive design */

/* tablet */

@media (min-width: 768px) {

    /* TO DO: need to made .desc and .headshot side-by-side divs */

    .intro p {
        line-height: 32px;
    }

    .row p {
        line-height: 32px;
    }

    .flowers {
        background: url("https://lh3.googleusercontent.com/_OiX6POay_l_qmLAi2qrZvcvCtCX976FvaaZpXVYyhJcoeJwqstZp4fH-J7WJN1KqlVmuZi0dc36tt6f0TkTzv0q5zd1B-shECTC8mGaDhyk2ZDXczlRTI0tHpiomgqbyxTZ4Ph0KA=w2400?source=screenshot.guru") center repeat-x;
        background-size: auto 100%;
    }
    
    .flowers img {
        height: auto;
        width: 25%;
        background-repeat: repeat-x;
    }

    .intro {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .experience, .coursework {
         box-shadow: 7px 7px rgb(255, 255, 255);
    }

    .experience {
        float: left;
        height: auto;
        width: 100%;
    }

    .coursework {
        float: right;
        height: auto;
        width: 100%;
    }

    .headshot img{
        display: block;
        width: 80%;
        height: auto;
        flex-direction: column;
        display: flex;
        box-shadow: 7px 7px rgb(255, 255, 255);
        margin-left: 15%;
    }

    h3 {
        font-size: 40px;
    }

    .experience ul li h1 {
        font-size: 20px;
    }

    .experience ul li p, .coursework ul li p {
        font-size: 16px;
        text-align: left;
    }

    .experience ul li {
        padding-bottom: 10%;
    }

    .coursework h1 {
        font-size: 20px;
    }

    .lang {
        font-size: 20px;
    }
    
}

/* regular laptop */

@media (min-width: 992px) {
    
    .intro {
        gap: 5%;
        width: 900px;
    }

    .flowers {
        display: none;
    }
}

/* large laptop */

@media (min-width: 1200px) {

    .intro {
        gap: 5%;
        width: 1300px;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 100px;
    }

}