

/* Base Styles */

:root {
    font-size: 10px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
  }
  
  img {
    display: block;
  }
  
  .content, .content2 {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
  }
  
  .btn:focus {
    outline: 0.5rem auto #4d90fe;
  }
  
  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  



  /* profile */
  
  .profile {
    padding: 5rem 0;
  }
  
  .profile::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    max-width: 200px; /* Optional: Set a max-width to ensure the circle size */
    aspect-ratio: 1/1; /* This ensures the container is always square */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    overflow: hidden; /* Ensure that the image does not overflow the container */
  }
  
  .profile-image img {
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-user-settings,
  .profile-stats,
  .profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
  }
  
  .profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
  }
  
  .profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
  }

  .profile-bio a {
    color: black;
  }

  .profile-bio a:hover {
    color: blue;
  }
  
  .profile-real-name,
  .profile-stat-count,
  .profile-edit-btn {
    font-weight: 600;
  }





  /* page content */
  
  .header-intro {
    font-size: large;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .links:hover {
    color: green;
  }

  .links {
    color: black;
  }

  .work-description {
    font-size: medium;
  }
  
/* Gallery item container */
.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  margin: 1rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}

/* Image styling */
.gallery-image {
  max-width: 100%; /* Ensure images don't overflow the container */
  max-height: 100%; /* Adjust height as needed */
  object-fit: cover; /* Maintain aspect ratio */
  margin-bottom: 2rem; /* Space between image and caption */
}

.life-image {
  max-width: 80%; /* Ensure images don't overflow the container */
  max-height: 100%; /* Adjust height as needed */
  object-fit: cover; /* Maintain aspect ratio */
  margin-bottom: 2rem; /* Space between image and caption */
}

/* Caption styling */
.gallery-item-caption {
  color: black;
  font-size: large;
  text-align: center; /* Center caption text */
  z-index: 10; /* Ensure it appears above other content */
}


  .fa-clone,
  .fa-comment {
    transform: rotateY(180deg);
  }

  .column-container {
    display: flex;
    flex-direction: column; /* If you want items stacked vertically */
    align-items: center; /* Center items horizontally */
    margin: 0 auto; /* Horizontally centers the column-container */
  }

/* Ensure the parent has position relative for proper positioning */
.gallery-item {
  position: relative;
  /* overflow: hidden; */
}

/* Initial state: Hide the info */
.gallery-item-info {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #D3D3D3;
  z-index: 1; /* Ensure it's above other content */
}

/* Show the info on hover or focus */
.grid-item:hover .gallery-item-info,
.grid-item:focus .gallery-item-info {
  display: flex;
}

.gallery-item-info p {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
}


.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}


/* tab navigation */

  .profile-tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    font-size: medium;
    background-color: #fff; /* Background color to ensure it covers content behind it */
    position: sticky;
    top: 0;
    z-index: 10; /* Ensures it stays above other content */
  }

  .profile-tab {
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 600;
    color: #8e8e8e;
    border-bottom: 2px solid transparent;
  }

  .profile-tab.active {
    color: black;
    border-bottom: 2px solid black;
  }

  .projects, .work {
    display: none;
  }

  .projects.active, .work.active {
    display: block;
  }








  .content, .content2 {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
  
  .content.centered {
    transform: translateX(20%);
  }

  .content2.centered {
    transform: translateX(5%);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  




  /* Media Query */
  
  @media screen and (max-width: 40rem) {

      .content {
        margin-left: 200px;
        border: blue solid 2px;
      }
    
      .content.centered, .content2.centered {
        margin-left: 0;
      }

    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }
  
    .profile::after {
        display: none;
    }
  
    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }
  
    .profile-image img {
        width: 7.7rem;
    }
  
    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
  
    .profile-user-name {
        font-size: 2.2rem;
    }
  
    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
        flex-basis: 100%;
    }
  
    .content2 {
        margin-left: 200px;
        border: 2px solid red;
    }

    .gallery-item {
        flex: 1 0 100%; /* Make each gallery item take full width */
    }

    .gallery-item-caption {
        font-size: medium; /* Adjust font size for captions */
        margin-bottom: 30px;
        margin-top: 5px;
    }

  }

  /* grid layout */

/* General grid styling for projects and work sections */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.grid-item {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  border: #D3D3D3 1px solid;
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* additional info (modal) */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Adjust as needed for your desired size */
  max-width: 750px; /* Adjust as needed */
  padding: 20px;
  background-color: white;
  z-index: 1000; /* Ensure it's above all other content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* Reduced margin for a larger box */
  padding: 20px;
  width: 90%; /* Increased width to make the modal larger */
  max-width: 1200px; /* Set a max-width to prevent it from becoming too wide on very large screens */
  height: 80vh; /* Set the height to cover a large portion of the screen */
  overflow-y: auto; /* Allows content to scroll if it exceeds the modal height */
  font-size: medium;
}

.modal-content img {
  display: block; /* Ensures image takes up full width available */
  margin-left: 2%;
  margin-right: 2%;
  max-width: 100%; /* Keeps image responsive */
  height: auto; /* Maintains aspect ratio */
  margin: 20px 0; /* Adds vertical margins above and below the image */
  padding: 0 10px; /* Adds horizontal padding on left and right sides */
}

.modal-description {
  line-height: normal;
}

/* Close Button */
.close-btn {
  color: #aaa;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 30px;
  padding-top: 20px;
  font-size: 40px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pdf {
  width: 100%;
  max-width: 700px; /* Set a max width to prevent it from becoming too large */
  height: 850px; /* Adjust the height as needed */
  margin: 0 auto; /* Center the iframe */
}