.background-block {
    border: lightblue solid 2px;
    border-radius: 25px;
    margin: 5%;
    position: relative;
    z-index: -1;
}

.text-overlay {
    /* Styles for the text overlay */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Text color */
    z-index: 2; /* Ensure the overlay is on top of the clouds */
}

.row {
    flex: 1;
}

.project {
    background-color: lightblue;
    padding: 7%;
    margin: 4%;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    margin-left: 4%;
    margin-top: 4%;
}

.description {
    margin-left: 4%; 
}

.project h1 {
   margin-left: 2%; 
}

.project p {
    margin-left: 2%; 
}

.project p a {
    color: black; 
}

.project p a:hover {
    color: blue; 
}

@media (min-width: 768px) {

    .project {
        margin: 3%;
        padding: 1%;
    }

}