/* Common styles */
.parent {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.portfolio-code,
.design-code {
    flex: 1;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 10px;
    transition: transform 0.3s ease-in-out; /* Add smooth transition on hover */
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #5D9BD6;
    border-radius: 20px;
    width: 500px;
    height: 300px;
    margin: 5%;
}

.portfolio-code {
    margin-left: 90px;
}

.design-code {
    margin-right: 90px;
}

.portfolio-code:hover,
.design-code:hover {
    transform: scale(1.1);
    background-color: #719bc2;
}

h1 {
    color: whitesmoke;
    margin: 0;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 767px) {
    .parent {
        flex-direction: column;
        align-items: center;
    }

    .code-block {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
