:root {
    font-size: 10px;
  }

    
  body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
  }

.sidebar-intro {
    font-size: medium;
    line-height: normal;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #dbdbdb;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    z-index: 1000;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  .sidebar.closed {
    transform: translateX(-67.5%);
  }

  .left-side-bar {
    flex: 4;
  }

  .right-side-bar {
    flex: 1;
  }
  
  .sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .sidebar-nav ul li {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    padding: 10px; /* Adjust padding as needed */
  }
  
  .sidebar-nav ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #262626;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
  }

  .sidebar-nav ul li a:hover {
    color: green;
  }
  
  .sidebar-nav ul li a i {
    font-size: 2rem;
  }

  .sidebar-toggle {
    font-size: 4rem;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 2;
  }
  
  .sidebar-toggle:hover {
    color: green;
  }

  #sidebar-toggle {
    display: none;
  }



/* Mobile version: Transform sidebar into a horizontal menu */
@media screen and (max-width: 40rem) {
  .sidebar {
      width: 100%; /* Make the sidebar fill the top width of the screen */
      height: auto; /* Adjust height based on content */
      position: fixed;
      top: 0;
      left: 0;
      border-right: none; /* Remove right border */
      border-bottom: 1px solid #dbdbdb; /* Add a bottom border */
      padding: 15px;
      display: flex;
      flex-direction: row; /* Arrange items horizontally */
      align-items: center;
      justify-content: space-between; /* Space items evenly across */
      z-index: 1000;
  }

  .sidebar-nav ul {
      display: flex; /* Align list items in a row */
      width: 100%; /* Ensure the ul spans the full width */
      justify-content: space-around; /* Evenly space out items */
      padding: 0; /* Remove padding to align with horizontal layout */
  }

  .sidebar-nav ul li {
      margin-bottom: 0;
  }

  .sidebar-nav ul li a i {
      font-size: 2rem; /* Adjust icon size for mobile */
  }

  .sidebar.closed {
      transform: translateX(0%); /* Hide by moving it up */
  }

  .sidebar-toggle {
      top: 0px; /* Adjust position for mobile */
      right: 0px; /* Adjust position for mobile */
  }

  .left-side-bar {
    flex: 0;
  }

  .sidebar-intro {
    text-align: center;
  }

  /* .life {
    margin-top: 10%;
  } */
}