
h1 {
    color: whitesmoke;
    font-family: monospace;
    font-size: 90px;
    text-align: left;
    margin-left: 150px; 
}

.links a {
    color: white;
    font-family:monospace;
    margin: 15px;
    font-size: 20px;
    text-align: center;
}

.links li {
    list-style-type: none;
    display: inline-block;
}

.links a:hover {
    background-color: #cf8eea;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aboutdesc {
    color: whitesmoke;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    margin-left: 150px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
}

.headshot img{
    display: block;
    float: right;
    width: 400px;
    margin-right: 150px;
    flex-direction: column;
    display: flex;
    box-shadow: 7px 7px rgb(255, 255, 255);
    margin-bottom: 20px;
}

.more {
    color: whitesmoke;
    font-family: monospace;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}