
h1 {
    color: white;
    font-size: 150px;
    text-align: center;
}

.fun_facts p, .thingsive p {
    color: white;
    font-size: 25px;
    text-align: left;
    font-family: monospace;
    margin-left: 75px;
    margin-right: 75px;
}

.fun_facts h2, .thingsive h2 {
    color: white;
    font-size: 40px;
    text-align: left;
    font-family: monospace;
    margin-left: 75px;
}

.fun_facts {
    background: linear-gradient(to bottom, rgb(211, 172, 240, 0.85),rgb(239, 173, 161, 0.85));
    box-shadow: 3px 3px rgb(255, 255, 255);
    height: auto;
    width: auto;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 35px;
    border-radius: 20px;
}

.thingsive {
    background: linear-gradient(to bottom, rgb(239, 173, 161, 0.85),rgb(239, 173, 161, 0.85));
    box-shadow: 3px 3px rgb(255, 255, 255);
    height: auto;
    width: auto;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 100px;;
    border-radius: 20px;
}

.moremore {
    color: white;
    font-size: 20px;
    text-align: center;
}