
h2 {
    color: white;
    font-size: 150px;
    text-align: center;
}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 + p {
    margin-top: -10px;
}


.photography {
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px rgb(255, 255, 255);
    height: 350px;
    width: 400px;
    background: linear-gradient(to bottom, rgb(151, 155, 244, 0.85),rgb(211, 172, 240, 0.85));
    margin-left: 200px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.photography a, .musique a{
    color: white;
    font-size: 20px;
}

.photography a:hover, .musique a:hover {
    background-color: #cf8eea;
}

.musique {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    box-shadow: 7px 7px rgb(255, 255, 255);
    height: 350px;
    width: 400px;
    background: linear-gradient(to bottom, rgb(151, 155, 244, 0.85),rgb(211, 172, 240, 0.85));
    margin-right: 200px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.ml {
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px rgb(255, 255, 255);
    height: 420px;
    width: 400px;
    background: linear-gradient(to bottom, rgb(211, 172, 240, 0.85),rgb(239, 173, 161, 0.85));
    margin-left: 200px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.personal {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    box-shadow: 7px 7px rgb(255, 255, 255);
    height: 420px;
    width: 400px;
    background: linear-gradient(to bottom, rgb(211, 172, 240, 0.85),rgb(239, 173, 161, 0.85));
    margin-right: 200px;
    margin-bottom: 50px;
    border-radius: 20px;
} 

.eecs281 {
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px rgb(255, 255, 255);
    height: 400px;
    width: 400px;
    background: linear-gradient(to bottom, rgb(239, 173, 161, 0.85),rgb(239, 173, 161, 0.85));
    margin-left: 200px;
    margin-bottom: 400px;
    border-radius: 20px;
}

.eecs484 {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    box-shadow: 7px 7px rgb(255, 255, 255);
    height: 450px;
    width: 400px;
    background: linear-gradient(to bottom, rgb(239, 173, 161, 0.85),rgb(239, 173, 161, 0.85));
    margin-right: 200px;
    margin-bottom: 400px;
    border-radius: 20px;
}