body {
    background-image: url("https://lh3.googleusercontent.com/G9M6m2Rqea1t7Bt92rgDwHPcDpW2j4Luf04tBdheEhibTjinMJaj9UcT-j9OTFjHoK3VPtqULRNHggkV-PJbKKLnXMyU-toNUEp8TPelGQlxg0tHjVVEzoySyVqcMAgfDsJwtV2H=w2400");
    background-size: cover;
}

.menu {
    list-style-type: none;
    box-shadow: 1px 1px rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    background-color: rgb(151, 155, 244);
    overflow: hidden;
}

.notava{
    float: right;
}

.ava{
    float: left;
}

.menu li a {
    font-size: 30px;
    font-family: monospace;
    color: white;
    margin: 15px;
    display: block;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #cf8eea;
}
