/* fonts */
@font-face {
  font-family: "regular-pixel-font";
  src: url("../fonts/WEB-FONT/OffBitTrial-101.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "star-pixel-font";
  src: url("../fonts/WEB-FONT/OffBitTrial-StarBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.offbit-regular-font {
  font-family: "regular-pixel-font";
  font-weight: bolder;
}

.offbit-star-pixel-font {
  font-family: "star-pixel-font";
  font-weight: bolder;
}

h3 {
  font-size: 30px;
}

/* main theme styles */

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

h2 {
  margin-top: 30px;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

a {
  color: #0073e6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main {
  margin: 2.5% auto 0 auto;
  margin-left: 0;
  padding: 20px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

.main-inner {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
  box-sizing: border-box;
}

/* useful custom classes */

.stack {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spacing {
  padding: 24px;
}

.margin-top {
  margin-top: 5%;
}

.border {
  border: rgb(209, 209, 209) solid 1px;
}

section {
  margin: 10%;
}

/* side nav  */

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 175px;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 60px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ccc;
}

.sidenav p {
  position: absolute;
  bottom: 75px;
  left: 35px;
}

.sidenav.mobile-open {
  left: 0; /* slide in when open */
}

#hamburger-toggle {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1500;
  background: #a16207;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 6px;
  padding: 10px 14px;
  cursor: pointer;
}

.sidenav a:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  color: #00274c;
}

.sidenav a {
  font-size: 18px;
}

.sidenav a.nav-link {
  display: block;
  width: 100%;
  padding: 12px 0;
  text-decoration: none;
  box-sizing: border-box;
}

.sidenav.collapsed .nav-link {
  opacity: 0;
  pointer-events: none;
  height: 0;
  overflow: hidden;
  font-size: 0;
  transition: opacity 0.9s ease;
}

.sidenav .nav-link {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  transition: opacity 0.2s ease;
  text-align: left;
}

.menu-links {
  line-height: 24px;
  list-style: none;
}

#menu-text {
  text-align: center;
  font-family: "star-pixel-font", sans-serif;
  color: #a16207;
  font-size: 48px;
}

/* ==========================================================================
   DARK MODE
   ========================================================================== */

body.dark-mode {
  background-color: #0f1e2c;
  transition: background-color 0.3s ease;
  color: white;
  .icons a:hover {
    color: #0073e6;
  }

  .row-item:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    background-color: #0b2237;
  }

  .sidenav {
    background-color: #101d29;
  }

  .sidenav a,
  .sidenav p,
  .icons a {
    color: white;
  }

  .sidenav a:hover {
    color: #ffcb05;
  }

  #menu-text {
    color: #ffcb05;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  #main {
    margin-left: 160px;
    padding: 20px;
  }

  .sidenav {
    width: 200px;
  }

  .sidebar-toggle {
    left: 160px;
  }
}

@media (max-width: 640px) {
  .sidenav {
    left: -250px;
  }

  .sidenav.mobile-open {
    left: 0;
  }

  .sidenav p {
    left: 12px;
    font-size: small;
  }
  .map-overlay-left {
    left: 35%;
    color: rgb(14, 35, 120);
  }

  .map-overlay-right {
    left: 65%;
    color: rgb(14, 35, 120);
  }
}

@media (min-width: 641px) {
  #main {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
  }

  .sidenav {
    width: 200px;
  }

  .sidenav p {
    left: 22px;
    font-size: small;
  }

  .sidenav.collapsed ~ #main {
    margin-left: 50px;
  }

  #hamburger-toggle,
  .mobile-dropdown {
    display: none;
  }

  .sidenav,
  .sidebar-toggle {
    display: block;
  }

  .sidenav.collapsed {
    width: 50px;
  }

  .sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 200px;
    z-index: 1100;
    background-color: #a16207;
    color: white;
    padding: 10px 12px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 18px;
    transition: left 0.3s ease;
  }

  .sidebar-toggle:hover {
    background-color: #ac8a03;
  }

  .sidenav.collapsed + .sidebar-toggle {
    left: 50px;
  }

  .sidenav.collapsed ~ #main {
    margin-left: 50px;
  }
}
@media (min-width: 961px) {
  .sidenav {
    width: 250px;
  }

  .sidebar-toggle {
    left: 250px;
  }

  .sidenav p {
    left: 45px;
    font-size: small;
  }
}

@media (min-width: 1025px) {
  .sidenav p {
    left: 50px;
    font-size: small;
  }
}
